{
    "openapi": "3.0.1",
    "info": {
        "title": "NamSor API v2",
        "description": "NamSor API v2 : enpoints to process personal names (gender, cultural origin or ethnicity) in all alphabets or languages. By default, enpoints use 1 unit per name (ex. Gender), but Ethnicity classification uses 10 to 20 units per name depending on taxonomy. Use GET methods for small tests, but prefer POST methods for higher throughput (batch processing of up to 100 names at a time). Need something you can't find here? We have many more features coming soon. Let us know, we'll do our best to add it! ",
        "contact": {
            "name": "Namsor SAS",
            "url": "http://www.namsor.com/",
            "email": "contact@namsor.com"
        },
        "license": {
            "name": "NamSorAPI_Lic_v0.0.7",
            "url": "https://v2.namsor.com/NamSorAPIv2/assets/pdf/201803_NamSor_API_Terms_v007.pdf"
        },
        "version": "2.0.14"
    },
    "externalDocs": {
        "description": "NamSor API client SDKs v2 for Java, Python",
        "url": "https://github.com/namsor"
    },
    "servers": [
        {
            "url": "https://v2.namsor.com/NamSorAPIv2",
            "description": "namsor_v2",
            "variables": {}
        }
    ],
    "security": [{ "api_key": [] }],
    "tags": [
        {
            "name": "personal",
            "description": "Personal names (anthroponyms) : gender, country origin/ethnicity, diaspora, US 'race'/ethniciy"
        },
        { "name": "social", "description": "Social media and pseudonyms" },
        { "name": "chinese", "description": "CHINESE special features" },
        { "name": "japanese", "description": "JAPANESE special features" },
        { "name": "admin", "description": "Administrative, system management." }
    ],
    "paths": {
        "/api2/json/anonymize/{source}/{anonymized}": {
            "get": {
                "tags": ["admin"],
                "summary": "Activate/deactivate anonymization for a source.",
                "operationId": "anonymize",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "anonymized",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "boolean" }
                    }
                ],
                "responses": {
                    "200": { "description": "Anonymization of a source." },
                    "401": { "description": "Missing or incorrect API Key" }
                }
            }
        },
        "/api2/json/apiStatus": {
            "get": {
                "tags": ["admin"],
                "summary": "Prints the current status of the classifiers. A classifier name in apiStatus corresponds to a service name in apiServices. ",
                "operationId": "apiStatus",
                "responses": {
                    "200": {
                        "description": "Available classifiers and status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIClassifiersStatusOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect token" }
                }
            }
        },
        "/api2/json/apiUsage": {
            "get": {
                "tags": ["admin"],
                "summary": "Print current API usage.",
                "operationId": "apiUsage",
                "responses": {
                    "200": {
                        "description": "Print current API usage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIPeriodUsageOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/apiUsageHistory": {
            "get": {
                "tags": ["admin"],
                "summary": "Print historical API usage.",
                "operationId": "apiUsageHistory",
                "responses": {
                    "200": {
                        "description": "Print historical API usage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIUsageHistoryOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/apiUsageHistoryAggregate": {
            "get": {
                "tags": ["admin"],
                "summary": "Print historical API usage (in an aggregated view, by service, by day/hour/min).",
                "operationId": "apiUsageHistoryAggregate",
                "responses": {
                    "200": {
                        "description": "Print historical API usage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIPeriodUsageOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/apiServices": {
            "get": {
                "tags": ["admin"],
                "summary": "List of classification services and usage cost in Units per classification (default is 1=ONE Unit). Some API endpoints (ex. Corridor) combine multiple classifiers.",
                "operationId": "availableServices",
                "responses": {
                    "200": {
                        "description": "Available services",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIServicesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect token" }
                }
            }
        },
        "/api2/json/chineseNameCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Identify Chinese name candidates, based on the romanized name ex. Wang Xiaoming",
                "operationId": "chineseNameCandidates",
                "parameters": [
                    {
                        "name": "chineseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "chineseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/chineseNameCandidatesBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Identify Chinese name candidates, based on the romanized name (firstName = chineseGivenName; lastName=chineseSurname), ex. Wang Xiaoming",
                "operationId": "chineseNameCandidatesBatch",
                "requestBody": {
                    "description": "A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/chineseNameCandidatesGenderBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Identify Chinese name candidates, based on the romanized name (firstName = chineseGivenName; lastName=chineseSurname) ex. Wang Xiaoming.",
                "operationId": "chineseNameCandidatesGenderBatch",
                "requestBody": {
                    "description": "A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameGenderIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/chineseNameGenderCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}/{knownGender}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Identify Chinese name candidates, based on the romanized name ex. Wang Xiaoming - having a known gender ('male' or 'female')",
                "operationId": "chineseNameGenderCandidates",
                "parameters": [
                    {
                        "name": "chineseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "chineseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "knownGender",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RomanizedNameOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/chineseNameMatch/{chineseSurnameLatin}/{chineseGivenNameLatin}/{chineseName}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Return a score for matching Chinese name ex. 王晓明 with a romanized name ex. Wang Xiaoming",
                "operationId": "chineseNameMatch",
                "parameters": [
                    {
                        "name": "chineseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "chineseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "chineseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/chineseNameMatchBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Identify Chinese name candidates, based on the romanized name (firstName = chineseGivenName; lastName=chineseSurname), ex. Wang Xiaoming",
                "operationId": "chineseNameMatchBatch",
                "requestBody": {
                    "description": "A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchMatchPersonalFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/corridor/{countryIso2From}/{firstNameFrom}/{lastNameFrom}/{countryIso2To}/{firstNameTo}/{lastNameTo}": {
            "get": {
                "tags": ["personal"],
                "summary": "[USES 20 UNITS PER NAME COUPLE] Infer several classifications for a cross border interaction between names (ex. remit, travel, intl com)",
                "operationId": "corridor",
                "parameters": [
                    {
                        "name": "countryIso2From",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "firstNameFrom",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastNameFrom",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2To",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "firstNameTo",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastNameTo",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Two classified names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CorridorOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/corridorBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "[USES 20 UNITS PER NAME PAIR] Infer several classifications for up to 100 cross border interaction between names (ex. remit, travel, intl com)",
                "operationId": "corridorBatch",
                "requestBody": {
                    "description": "A list of name pairs, with country code (nameFrom -> nameTo).",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchCorridorIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of classified name pairs.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchCorridorOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/country/{personalNameFull}": {
            "get": {
                "tags": ["personal"],
                "summary": "[USES 10 UNITS PER NAME] Infer the likely country of residence of a personal full name, or one surname. Assumes names as they are in the country of residence OR the country of origin.",
                "operationId": "country",
                "parameters": [
                    {
                        "name": "personalNameFull",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameGeoOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/countryBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "[USES 10 UNITS PER NAME] Infer the likely country of residence of up to 100 personal full names, or surnames. Assumes names as they are in the country of residence OR the country of origin.",
                "operationId": "countryBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameGeoOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/diaspora/{countryIso2}/{firstName}/{lastName}": {
            "get": {
                "tags": ["personal"],
                "summary": "[USES 20 UNITS PER NAME] Infer the likely ethnicity/diaspora of a personal name, given a country of residence ISO2 code (ex. US, CA, AU, NZ etc.)",
                "operationId": "diaspora",
                "parameters": [
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A diaspora / ethnicity for given name and geography.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameDiasporaedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/diasporaBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "[USES 20 UNITS PER NAME] Infer the likely ethnicity/diaspora of up to 100 personal names, given a country of residence ISO2 code (ex. US, CA, AU, NZ etc.)",
                "operationId": "diasporaBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of diaspora / ethnicity given a name and residency.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameDiasporaedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/gender/{firstName}/{lastName}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of a name.",
                "operationId": "gender",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of up to 100 names, detecting automatically the cultural context.",
                "operationId": "genderBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderChineseName/{chineseName}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Infer the likely gender of a Chinese full name ex. 王晓明",
                "operationId": "genderChineseName",
                "parameters": [
                    {
                        "name": "chineseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderChineseNameBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Infer the likely gender of up to 100 full names ex. 王晓明",
                "operationId": "genderChineseNameBatch",
                "requestBody": {
                    "description": "A list of personal names, with a country ISO2 code",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderChineseNamePinyin/{chineseSurnameLatin}/{chineseGivenNameLatin}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Infer the likely gender of a Chinese name in LATIN (Pinyin).",
                "operationId": "genderChineseNamePinyin",
                "parameters": [
                    {
                        "name": "chineseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "chineseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderChineseNamePinyinBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Infer the likely gender of up to 100 Chinese names in LATIN (Pinyin).",
                "operationId": "genderChineseNamePinyinBatch",
                "requestBody": {
                    "description": "A list of names, with country code.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderFull/{fullName}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of a full name, ex. John H. Smith",
                "operationId": "genderFull",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderFullBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of up to 100 full names, detecting automatically the cultural context.",
                "operationId": "genderFullBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderFullGeo/{fullName}/{countryIso2}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of a full name, given a local context (ISO2 country code).",
                "operationId": "genderFullGeo",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderFullGeoBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of up to 100 full names, with a given cultural context (country ISO2 code).",
                "operationId": "genderFullGeoBatch",
                "requestBody": {
                    "description": "A list of personal names, with a country ISO2 code",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderGeo/{firstName}/{lastName}/{countryIso2}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of a name, given a local context (ISO2 country code).",
                "operationId": "genderGeo",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderGeoBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of up to 100 names, each given a local context (ISO2 country code).",
                "operationId": "genderGeoBatch",
                "requestBody": {
                    "description": "A list of names, with country code.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderJapaneseNameFull/{japaneseName}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Infer the likely gender of a Japanese full name ex. 王晓明",
                "operationId": "genderJapaneseNameFull",
                "parameters": [
                    {
                        "name": "japaneseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderJapaneseNameFullBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Infer the likely gender of up to 100 full names",
                "operationId": "genderJapaneseNameFullBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderJapaneseName/{japaneseSurname}/{japaneseGivenName}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Infer the likely gender of a Japanese name in LATIN (Pinyin).",
                "operationId": "genderJapaneseNamePinyin",
                "parameters": [
                    {
                        "name": "japaneseSurname",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A genderized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/genderJapaneseNameBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Infer the likely gender of up to 100 Japanese names in LATIN (Pinyin).",
                "operationId": "genderJapaneseNamePinyinBatch",
                "requestBody": {
                    "description": "A list of names, with country code.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameGenderedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameGenderKanjiCandidatesBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Identify japanese name candidates in KANJI, based on the romanized name (firstName = japaneseGivenName; lastName=japaneseSurname) with KNOWN gender, ex. Yamamoto Sanae",
                "operationId": "japaneseNameGenderKanjiCandidatesBatch",
                "requestBody": {
                    "description": "A list of personal japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname and known gender",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameGenderIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Identify japanese name candidates in KANJI, based on the romanized name ex. Yamamoto Sanae",
                "operationId": "japaneseNameKanjiCandidates",
                "parameters": [
                    {
                        "name": "japaneseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{knownGender}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Identify japanese name candidates in KANJI, based on the romanized name ex. Yamamoto Sanae - and a known gender.",
                "operationId": "japaneseNameKanjiCandidates_1",
                "parameters": [
                    {
                        "name": "japaneseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "knownGender",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameKanjiCandidatesBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Identify japanese name candidates in KANJI, based on the romanized name (firstName = japaneseGivenName; lastName=japaneseSurname), ex. Yamamoto Sanae",
                "operationId": "japaneseNameKanjiCandidatesBatch",
                "requestBody": {
                    "description": "A list of personal japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameLatinCandidates/{japaneseSurnameKanji}/{japaneseGivenNameKanji}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Romanize japanese name, based on the name in Kanji.",
                "operationId": "japaneseNameLatinCandidates",
                "parameters": [
                    {
                        "name": "japaneseSurnameKanji",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenNameKanji",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameLatinCandidatesBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Romanize japanese names, based on the name in KANJI",
                "operationId": "japaneseNameLatinCandidatesBatch",
                "requestBody": {
                    "description": "A list of personal japanese names in KANJI, firstName = japaneseGivenName; lastName=japaneseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchCandidatesOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameMatch/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Return a score for matching Japanese name in KANJI ex. 山本 早苗 with a romanized name ex. Yamamoto Sanae",
                "operationId": "japaneseNameMatch",
                "parameters": [
                    {
                        "name": "japaneseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameMatchedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameMatchBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Return a score for matching a list of Japanese names in KANJI ex. 山本 早苗 with romanized names ex. Yamamoto Sanae",
                "operationId": "japaneseNameMatchBatch",
                "requestBody": {
                    "description": "A list of personal Japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchMatchPersonalFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of matched names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchNameMatchedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/japaneseNameMatchFeedbackLoop/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}": {
            "get": {
                "tags": ["japanese"],
                "summary": "[CREDITS 1 UNIT] Feedback loop to better perform matching Japanese name in KANJI ex. 山本 早苗 with a romanized name ex. Yamamoto Sanae",
                "operationId": "japaneseNameMatchFeedbackLoop",
                "parameters": [
                    {
                        "name": "japaneseSurnameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseGivenNameLatin",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "japaneseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A romanized name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedbackLoopOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/learnable/{source}/{learnable}": {
            "get": {
                "tags": ["admin"],
                "summary": "Activate/deactivate learning from a source.",
                "operationId": "learnable",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "learnable",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "boolean" }
                    }
                ],
                "responses": {
                    "200": { "description": "Vetting of a source." },
                    "401": { "description": "Missing or incorrect API Key" }
                }
            }
        },
        "/api2/json/nameType/{properNoun}": {
            "get": {
                "tags": ["general"],
                "summary": "Infer the likely type of a proper noun (personal name, brand name, place name etc.)",
                "operationId": "nameType",
                "parameters": [
                    {
                        "name": "properNoun",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A typed name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProperNounCategorizedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/nameTypeBatch": {
            "post": {
                "tags": ["general"],
                "summary": "Infer the likely common type of up to 100 proper nouns (personal name, brand name, place name etc.)",
                "operationId": "nameTypeBatch",
                "requestBody": {
                    "description": "A list of proper names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of commonTypeized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchProperNounCategorizedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/nameTypeGeo/{properNoun}/{countryIso2}": {
            "get": {
                "tags": ["general"],
                "summary": "Infer the likely type of a proper noun (personal name, brand name, place name etc.)",
                "operationId": "nameTypeGeo",
                "parameters": [
                    {
                        "name": "properNoun",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A typed name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProperNounCategorizedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/nameTypeGeoBatch": {
            "post": {
                "tags": ["general"],
                "summary": "Infer the likely common type of up to 100 proper nouns (personal name, brand name, place name etc.)",
                "operationId": "nameTypeGeoBatch",
                "requestBody": {
                    "description": "A list of proper names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchNameGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of commonTypeized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchProperNounCategorizedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/origin/{firstName}/{lastName}": {
            "get": {
                "tags": ["personal"],
                "summary": "[USES 10 UNITS PER NAME] Infer the likely country of origin of a personal name. Assumes names as they are in the country of origin. For US, CA, AU, NZ and other melting-pots : use 'diaspora' instead.",
                "operationId": "origin",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNameOriginedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/originBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "[USES 10 UNITS PER NAME] Infer the likely country of origin of up to 100 names, detecting automatically the cultural context.",
                "operationId": "originBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNameOriginedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseChineseName/{chineseName}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Infer the likely first/last name structure of a name, ex. 王晓明 -> 王(surname) 晓明(given name)",
                "operationId": "parseChineseName",
                "parameters": [
                    {
                        "name": "chineseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseChineseNameBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Infer the likely first/last name structure of a name, ex. 王晓明 -> 王(surname) 晓明(given name).",
                "operationId": "parseChineseNameBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of parsed names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseJapaneseName/{japaneseName}": {
            "get": {
                "tags": ["japanese"],
                "summary": "Infer the likely first/last name structure of a name, ex. 山本 早苗 or Yamamoto Sanae",
                "operationId": "parseJapaneseName",
                "parameters": [
                    {
                        "name": "japaneseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseJapaneseNameBatch": {
            "post": {
                "tags": ["japanese"],
                "summary": "Infer the likely first/last name structure of a name, ex. 山本 早苗 or Yamamoto Sanae ",
                "operationId": "parseJapaneseNameBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of parsed names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseName/{nameFull}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely first/last name structure of a name, ex. John Smith or SMITH, John or SMITH; John. ",
                "operationId": "parseName",
                "parameters": [
                    {
                        "name": "nameFull",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseNameBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely first/last name structure of a name, ex. John Smith or SMITH, John or SMITH; John.",
                "operationId": "parseNameBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of parsed names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseName/{nameFull}/{countryIso2}": {
            "get": {
                "tags": ["personal"],
                "summary": "Infer the likely first/last name structure of a name, ex. John Smith or SMITH, John or SMITH; John. For better accuracy, provide a geographic context.",
                "operationId": "parseNameGeo",
                "parameters": [
                    {
                        "name": "nameFull",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A origined name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/parseNameGeoBatch": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely first/last name structure of a name, ex. John Smith or SMITH, John or SMITH; John. Giving a local context improves precision. ",
                "operationId": "parseNameGeoBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of parsed names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/phoneCode/{firstName}/{lastName}/{phoneNumber}": {
            "get": {
                "tags": ["social"],
                "summary": "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix, given a personal name and formatted / unformatted phone number.",
                "operationId": "phoneCode",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A name with country and phone code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNamePhoneCodedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/phoneCodeBatch": {
            "post": {
                "tags": ["social"],
                "summary": "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix, of up to 100 personal names, detecting automatically the local context given a name and formatted / unformatted phone number.",
                "operationId": "phoneCodeBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNamePhoneNumberIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNamePhoneCodedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/phoneCodeGeo/{firstName}/{lastName}/{phoneNumber}/{countryIso2}": {
            "get": {
                "tags": ["social"],
                "summary": "[USES 11 UNITS PER NAME] Infer the likely phone prefix, given a personal name and formatted / unformatted phone number, with a local context (ISO2 country of residence).",
                "operationId": "phoneCodeGeo",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A name with country and phone code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNamePhoneCodedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/phoneCodeGeoBatch": {
            "post": {
                "tags": ["social"],
                "summary": "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix, of up to 100 personal names, with a local context (ISO2 country of residence).",
                "operationId": "phoneCodeGeoBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchFirstLastNamePhoneNumberGeoIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of genderized names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchFirstLastNamePhoneCodedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/phoneCodeGeoFeedbackLoop/{firstName}/{lastName}/{phoneNumber}/{phoneNumberE164}/{countryIso2}": {
            "get": {
                "tags": ["social"],
                "summary": "[CREDITS 1 UNIT] Feedback loop to better infer the likely phone prefix, given a personal name and formatted / unformatted phone number, with a local context (ISO2 country of residence).",
                "operationId": "phoneCodeGeoFeedbackLoop",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "lastName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "phoneNumberE164",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "countryIso2",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A name with country and phone code.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirstLastNamePhoneCodedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/pinyinChineseName/{chineseName}": {
            "get": {
                "tags": ["chinese"],
                "summary": "Romanize the Chinese name to Pinyin, ex. 王晓明 -> Wang (surname) Xiaoming (given name)",
                "operationId": "pinyinChineseName",
                "parameters": [
                    {
                        "name": "chineseName",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A pinyin name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/pinyinChineseNameBatch": {
            "post": {
                "tags": ["chinese"],
                "summary": "Romanize a list of Chinese name to Pinyin, ex. 王晓明 -> Wang (surname) Xiaoming (given name).",
                "operationId": "pinyinChineseNameBatch",
                "requestBody": {
                    "description": "A list of Chinese names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchPersonalNameIn"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A list of Pinyin names.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchPersonalNameParsedOut"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/softwareVersion": {
            "get": {
                "tags": ["admin"],
                "summary": "Get the current software version",
                "operationId": "softwareVersion",
                "responses": {
                    "200": {
                        "description": "The current software version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SoftwareVersionOut"
                                }
                            }
                        }
                    },
[...]
