{
    "openapi": "3.0.1",
    "info": {
        "title": "NamSor API v2",
        "description": "NamSor API v2 : enpoints to process personal names (gender, cultural origin or ethnicity) in all alphabets or languages. Use GET methods for small tests, but prefer POST methods for higher throughput (batch processing of up to 100 names at a time). Need something you can't find here? We have many more features coming soon. Let us know, we'll do our best to add it! ",
        "contact": {
            "name": "Namsor SAS",
            "url": "http://www.namsor.com/",
            "email": "contact@namsor.com"
        },
        "license": {
            "name": "NamSorAPI_Lic_v0.0.7",
            "url": "https://v2.namsor.com/NamSorAPIv2/assets/pdf/201803_NamSor_API_Terms_v007.pdf"
        },
        "version": "2.0.11"
    },
    "servers": [
        {
            "url": "https://v2.namsor.com/NamSorAPIv2",
            "description": "namsor_v2",
            "variables": {}
        }
    ],
    "paths": {
        "/api2/json/nameType/{properNoun}": {
            "get": {
                "tags": ["General"],
                "summary": "Infer the likely type of a proper noun (personal name, brand name, place name etc.)",
                "operationId": "nameType2",
                "parameters": [
                    {
                        "name": "properNoun",
                        "in": "path",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A typed name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": { "type": "string" },
                                        "name": { "type": "string" },
                                        "commonType": { "type": "string" },
                                        "commonTypeAlt": { "type": "string" },
                                        "score": {
                                            "type": "number",
                                            "format": "double"
                                        }
                                    },
                                    "xml": {
                                        "name": "ProperNounCategorizedOut"
                                    }
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                },
                "security": [{ "api_key": [] }]
            }
        },
        "/api2/json/nameTypeTest": {
            "post": {
                "tags": ["personal"],
                "summary": "Infer the likely gender of up to 100 fully parsed names, detecting automatically the cultural context.",
                "operationId": "parsedGenderBatch",
                "requestBody": {
                    "description": "A list of personal names",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "prefixOrTitle": {
                                            "type": "string"
                                        },
                                        "suffix": {
                                            "type": "string"
                                        },
                                        "middleName": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A typed name.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "id": "string",
                                    "name": "string",
                                    "commonType": "string",
                                    "commonTypeAlt": "string",
                                    "score": "number"
                                }
                            }
                        }
                    },
                    "401": { "description": "Missing or incorrect API Key" },
                    "403": {
                        "description": "API Limit Reached or API Key Disabled"
                    }
                }
            }
        }
    }
}
