{"openapi":"3.0.1","info":{"title":"NamSor API v2","description":"NamSor API v2 : enpoints to process personal names (gender, cultural origin or ethnicity) in all alphabets or languages. By default, enpoints use 1 unit per name (ex. Gender), but Ethnicity classification uses 10 to 20 units per name depending on taxonomy. Use GET methods for small tests, but prefer POST methods for higher throughput (batch processing of up to 100 names at a time). Need something you can't find here? We have many more features coming soon. Let us know, we'll do our best to add it! ","contact":{"name":"Namsor SAS","url":"http://www.namsor.com/","email":"contact@namsor.com"},"license":{"name":"NamSorAPI_Lic_v0.0.7","url":"https://v2.namsor.com/NamSorAPIv2/assets/pdf/201803_NamSor_API_Terms_v007.pdf"},"version":"2.0.15"},"externalDocs":{"description":"NamSor API client SDKs v2 for Java, Python","url":"https://github.com/namsor"},"servers":[{"url":"https://v2.namsor.com/NamSorAPIv2","description":"namsor_v2","variables":{}}],"security":[{"api_key":[]}],"tags":[{"name":"Personal","description":"Personal names (anthroponyms) : gender, country origin/ethnicity, diaspora, US 'race'/ethniciy"},{"name":"Social","description":"Social media and pseudonyms"},{"name":"Chinese","description":"CHINESE special features"},{"name":"Japanese","description":"JAPANESE special features"},{"name":"Admin","description":"Administrative, system management."}],"paths":{"/api2/json/anonymize/{source}/{anonymized}":{"get":{"tags":["Admin"],"summary":"Activate/deactivate anonymization for a source.","operationId":"Anonymize","parameters":[{"name":"source","in":"path","description":"The API Key to set as anonymized.","required":true,"schema":"77afd518a85798fa3723f5ec8120adb7","type":"String"},{"name":"anonymized","in":"path","required":true,"schema":true,"type":"Boolean"}],"responses":{"200":{"description":"Anonymization of a source."}}}},"/api2/json/apiStatus":{"get":{"tags":["Admin"],"summary":"Prints the current status of the classifiers. A classifier name in apiStatus corresponds to a service name in apiServices. ","operationId":"Api-Status","responses":{"200":{"description":"Available classifiers and status","content":{"application/json":{"schema":{"softwareVersion":{"softwareNameAndVersion":"NamSorAPIv2.0.14B01","softwareVersion":[2,0,14]},"classifiers":[{"classifierName":"name_category","serving":true,"learning":true,"shuttingDown":false,"probabilityCalibrated":false},{"classifierName":"personalname_gender","serving":true,"learning":true,"shuttingDown":false,"probabilityCalibrated":true}]}}}}}}},"/api2/json/apiUsage":{"get":{"tags":["Admin"],"summary":"Receive information on your subscription plan and current API usage.","operationId":"Api-Usage","responses":{"200":{"description":"Print current API usage.","content":{"application/json":{"schema":{"subscription":{"apiKey":"77afd518a85798fa3723f5ec8120adb7","planStarted":1602705605199,"priorPlanStarted":0,"planEnded":0,"taxRate":0,"planName":"BASIC","planBaseFeesKey":"namsorapi_v2_BASIC_usd","planStatus":"OPEN","planQuota":5000,"priceUSD":0,"priceOverageUSD":0.005,"price":0,"priceOverage":0.005,"currency":"usd","currencyFactor":1,"stripeCustomerId":null,"stripeStatus":null,"stripeSubscription":null,"userId":"lXVJ95AraqM9jrRns45ZfbE4qRgw"},"billingPeriod":{"apiKey":"77afd518a85798fa3723f5ec8120adb7","subscriptionStarted":1602705635199,"periodStarted":1618430435199,"periodEnded":0,"stripeCurrentPeriodEnd":0,"stripeCurrentPeriodStart":0,"billingStatus":"OPEN","usage":34,"softLimit":3000,"hardLimit":5000},"overageExclTax":0,"overageInclTax":0,"overageCurrency":null,"overageQuantity":0}}}}}}},"/api2/json/apiUsageHistory":{"get":{"tags":["Admin"],"summary":"Print your API usage history.","operationId":"Api-Usage-History","responses":{"200":{"description":"Print historical API usage.","content":{"application/json":{"schema":[{"apiKey":{"userId":null,"admin":false,"vetted":false,"learnable":true,"anonymized":false,"partner":false,"striped":false,"corporate":false,"disabled":false,"api_key":"b214894824e1c4762fb650866fea8f3c"},"apiService":"personalname_us_race_ethnicity","createdDateTime":1620385794616,"totalUsage":1,"lastFlushedDateTime":1620386273418,"lastUsedDateTime":1620386699945,"serviceFeaturesUsage":{}}]}}}}}},"/api2/json/apiUsageHistoryAggregate":{"get":{"tags":["Admin"],"summary":"Print your API usage history in an aggregated view (by service, by day/hour/min).","operationId":"Api-Usage-History-Aggregate","responses":{"200":{"description":"Print historical API usage.","content":{"application/json":{"schema":{"timeUnit":"DAY","periodStart":1602703703373,"periodEnd":1620386273418,"totalUsage":262,"historyTruncated":false,"data":[[0,0,0,4,3,0,0,0,0,6,4,5]],"colHeaders":["chineseNameCandidates","japaneseNameCandidates","japaneseNameMatching","name_category","name_parser_type","personalfullname_country","personalfullname_gender","personalname_country_diaspora","personalname_gender","personalname_origin_country","personalname_phone_prefix","personalname_us_race_ethnicity"],"rowHeaders":["2018-05-05","2018-05-06","2018-05-07"]}}}}}}},"/api2/json/apiServices":{"get":{"tags":["Admin"],"summary":"Receive a list of the API services and usage costs in Units.","operationId":"Available-Services","responses":{"200":{"description":"Available services","content":{"application/json":{"schema":{"apiServices":[{"serviceName":"name_parser_type","serviceGroup":"AIClassifier","costInUnits":1},{"serviceName":"personalname_phone_prefix","serviceGroup":"AIClassifier","costInUnits":1}]}}}}}}},"/api2/json/chineseNameCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}":{"get":{"tags":["Chinese"],"summary":"Find the most likely Mandarin transcriptions for a Chinese first name and last name, written in Pinyin","operationId":"Chinese-Name-Candidates","parameters":[{"name":"chineseSurnameLatin","in":"path","required":true,"schema":"Zhao","type":"String"},{"name":"chineseGivenNameLatin","in":"path","required":true,"schema":"LiYing","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":null,"id":null,"firstName":"LiYing","lastName":"Zhao","orderOption":null,"matchCandidates":[{"candidateName":"赵丽英","probability":0.26153460755147884,"predScoreGivenName":0,"predScoreFamilyName":0},{"candidateName":"赵丽颖","probability":0.11856235542333707,"predScoreGivenName":0,"predScoreFamilyName":0}]}}}}}}},"/api2/json/chineseNameCandidatesBatch":{"post":{"tags":["Chinese"],"summary":"Find the most likely Mandarin transcriptions for up to 100 Chinese first and last names, written in Pinyin","operationId":"Chinese-Name-Candidates-Batch","requestBody":{"description":"A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"LiYing","lastName":"Zhao"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"namesAndMatchCandidates":[{"script":null,"id":null,"firstName":"LiYing","lastName":"Zhao","orderOption":null,"matchCandidates":[{"candidateName":"赵丽英","probability":0.26153460755147884,"predScoreGivenName":0,"predScoreFamilyName":0},{"candidateName":"赵丽颖","probability":0.11856235542333707,"predScoreGivenName":0,"predScoreFamilyName":0}]}]}}}}}}},"/api2/json/chineseNameCandidatesGenderBatch":{"post":{"tags":["Chinese"],"summary":"Find the most likely transcriptions for a romanized Chinese first name and last name","operationId":"Chinese-Name-Candidates-Gender-Batch","requestBody":{"description":"A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"LiYing","lastName":"Zhao","gender":"female"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"namesAndMatchCandidates":[{"script":null,"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"LiYing","lastName":"Zhao","orderOption":null,"matchCandidates":[{"candidateName":"赵丽英","probability":0.07949583832056487,"predScoreGivenName":0,"predScoreFamilyName":0},{"candidateName":"赵丽颖","probability":0.021402725701690543,"predScoreGivenName":0,"predScoreFamilyName":0}]}]}}}}}}},"/api2/json/chineseNameGenderCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}/{knownGender}":{"get":{"tags":["Chinese"],"summary":"Determine the most likely Mandarin transcriptions for a romanized Chinese first name and last name, accrding to the known gender of the name","operationId":"Chinese-Name-Gender-Candidates","parameters":[{"name":"chineseSurnameLatin","in":"path","required":true,"schema":"Fanzhi","type":"String"},{"name":"chineseGivenNameLatin","in":"path","required":true,"schema":"Zeng","type":"String"},{"name":"knownGender","in":"path","required":true,"schema":"male","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":null,"id":null,"firstName":"Zeng","lastName":"Fanzhi","orderOption":null,"matchCandidates":[{"candidateName":"甑范志","probability":0.014705882352941176,"predScoreGivenName":0,"predScoreFamilyName":0},{"candidateName":"甑凡智","probability":0.014705882352941176,"predScoreGivenName":0,"predScoreFamilyName":0}]}}}}}}},"/api2/json/chineseNameMatch/{chineseSurnameLatin}/{chineseGivenNameLatin}/{chineseName}":{"get":{"tags":["Chinese"],"summary":"Receive a score for matching a romanized Chinese name with its Mandarin writing.","operationId":"Chinese-Name-Match","parameters":[{"name":"chineseSurnameLatin","in":"path","required":true,"schema":"Yu","type":"String"},{"name":"chineseGivenNameLatin","in":"path","required":true,"schema":"Hong","type":"String"},{"name":"chineseName","in":"path","required":true,"schema":"喻红","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":null,"id":null,"matchStatus":"Match","score":1.0017825620273417}}}}}}},"/api2/json/chineseNameMatchBatch":{"post":{"tags":["Chinese"],"summary":"Identify Chinese name candidates, based on the romanized name (firstName = chineseGivenName; lastName=chineseSurname), ex. Wang Xiaoming","operationId":"Chinese-Name-Match-Batch","requestBody":{"description":"A list of personal Chinese names in LATIN, firstName = chineseGivenName; lastName=chineseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c41","name1":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Hong","lastName":"Yu"},"name2":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c43","name":"喻红"}}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"matchedNames":[{"script":null,"id":null,"matchStatus":"Match","score":1.0017825620273417}]}}}}}}},"/api2/json/corridor/{countryIso2From}/{firstNameFrom}/{lastNameFrom}/{countryIso2To}/{firstNameTo}/{lastNameTo}":{"get":{"tags":["Personal"],"summary":"Infer several classifications for a cross border interaction between names (ex. remit, travel, intl com)","operationId":"Corridor","parameters":[{"name":"countryIso2From","in":"path","required":true,"schema":"GB","type":"String"},{"name":"firstNameFrom","in":"path","required":true,"schema":"Ada","type":"String"},{"name":"lastNameFrom","in":"path","required":true,"schema":"Lovelace","type":"String"},{"name":"countryIso2To","in":"path","required":true,"schema":"US","type":"String"},{"name":"firstNameTo","in":"path","required":true,"schema":"Nicolas","type":"String"},{"name":"lastNameTo","in":"path","required":true,"schema":"Tesla","type":"String"}],"responses":{"200":{"description":"Two classified names.","content":{"application/json":{"schema":{"id":null,"firstLastNameGeoFromGender":{"script":"LATIN","id":"781cc5e4-aa61-4a04-bd14-4b512120817a","firstName":"Ada","lastName":"Lovelace","likelyGender":"female","genderScale":0.9667738179638148,"score":20.98847600479561,"probabilityCalibrated":0.9833869089819074},"firstLastNameGeoToGender":{"script":"LATIN","id":"d5d87a0f-8d21-4cf6-98a2-2636a669ddd6","firstName":"Nicolas","lastName":"Tesla","likelyGender":"male","genderScale":-0.9915797101926913,"score":30.224379416275056,"probabilityCalibrated":0.9957898550963457},"firstLastNameGeoFromOrigin":{"script":"LATIN","id":"781cc5e4-aa61-4a04-bd14-4b512120817a","firstName":"Ada","lastName":"Lovelace","countryOrigin":"IE","countryOriginAlt":"GB","countriesOriginTop":["IE","GB"],"score":2.568304424015469,"regionOrigin":"Europe","topRegionOrigin":"Europe","subRegionOrigin":"Northern Europe","probabilityCalibrated":0.45562779224760414,"probabilityAltCalibrated":0.6327518248452595},"firstLastNameGeoToOrigin":{"script":"LATIN","id":"d5d87a0f-8d21-4cf6-98a2-2636a669ddd6","firstName":"Nicolas","lastName":"Tesla","countryOrigin":"FR","countryOriginAlt":"GR","countriesOriginTop":["FR","GR"],"score":1.454789764445522,"regionOrigin":"Europe","topRegionOrigin":"Europe","subRegionOrigin":"Western Europe","probabilityCalibrated":0.44774495967210787,"probabilityAltCalibrated":0.4771001024099368},"firstLastNameGeoFromDiaspora":{"script":"LATIN","id":"781cc5e4-aa61-4a04-bd14-4b512120817a","firstName":"Ada","lastName":"Lovelace","score":32.41666571408284,"ethnicityAlt":"TrinidadTobago","ethnicity":"British","lifted":false,"countryIso2":"GB","ethnicitiesTop":["British","TrinidadTobago"]},"firstLastNameGeoToDiaspora":{"script":"LATIN","id":"d5d87a0f-8d21-4cf6-98a2-2636a669ddd6","firstName":"Nicolas","lastName":"Tesla","score":1.1421870006029051,"ethnicityAlt":"Jewish","ethnicity":"Italian","lifted":false,"countryIso2":"US","ethnicitiesTop":["Italian","Jewish"]}}}}}}}},"/api2/json/corridorBatch":{"post":{"tags":["Personal"],"summary":"Infer several classifications for up to 100 cross border interaction between names (ex. remit, travel, intl com)","operationId":"Corridor-Batch","requestBody":{"description":"A list of name pairs, with country code (nameFrom -> nameTo).","content":{"application/json":{"schema":{"corridorFromTo":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstLastNameGeoFrom":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Ada","lastName":"Lovelace","countryIso2":"GB"},"firstLastNameGeoTo":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Nicolas","lastName":"Tesla","countryIso2":"US"}}]}}}},"responses":{"200":{"description":"A list of classified name pairs.","content":{"application/json":{"schema":{"corridorFromTo":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstLastNameGeoFromGender":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c43","firstName":"Ada","lastName":"Lovelace","likelyGender":"female","genderScale":0.9667738179638148,"score":20.98847600479561,"probabilityCalibrated":0.9833869089819074},"firstLastNameGeoToGender":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c41","firstName":"Nicolas","lastName":"Tesla","likelyGender":"male","genderScale":-0.9915797101926913,"score":30.224379416275056,"probabilityCalibrated":0.9957898550963457},"firstLastNameGeoFromOrigin":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c43","firstName":"Ada","lastName":"Lovelace","countryOrigin":"IE","countryOriginAlt":"GB","countriesOriginTop":["IE","GB"],"score":2.568304424015469,"regionOrigin":"Europe","topRegionOrigin":"Europe","subRegionOrigin":"Northern Europe","probabilityCalibrated":0.45562779224760414,"probabilityAltCalibrated":0.6327518248452595},"firstLastNameGeoToOrigin":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c41","firstName":"Nicolas","lastName":"Tesla","countryOrigin":"FR","countryOriginAlt":"GR","countriesOriginTop":["FR","GR"],"score":1.454789764445522,"regionOrigin":"Europe","topRegionOrigin":"Europe","subRegionOrigin":"Western Europe","probabilityCalibrated":0.44774495967210787,"probabilityAltCalibrated":0.4771001024099368},"firstLastNameGeoFromDiaspora":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c43","firstName":"Ada","lastName":"Lovelace","score":32.41686703300403,"ethnicityAlt":"TrinidadTobago","ethnicity":"British","lifted":false,"countryIso2":"GB","ethnicitiesTop":["British","TrinidadTobago"]},"firstLastNameGeoToDiaspora":{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c41","firstName":"Nicolas","lastName":"Tesla","score":1.1421954239282939,"ethnicityAlt":"Jewish","ethnicity":"Italian","lifted":false,"countryIso2":"US","ethnicitiesTop":["Italian","Jewish"]}}]}}}}}}},"/api2/json/country/{personalNameFull}":{"get":{"tags":["Personal"],"summary":"Infer the likely country of residence of a personal full name, or one surname. Assumes names as they are in the country of residence OR the country of origin.","operationId":"Country","parameters":[{"name":"personalNameFull","in":"path","required":true,"schema":"Marie Curie","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"LATIN","id":"345f20b8-6b93-46d7-a938-2158ae5094fd","name":"Marie Curie","score":16.010522433640798,"country":"FR","countryAlt":"BE","region":"Europe","topRegion":"Europe","subRegion":"Western Europe","countriesTop":["FR","BE"],"probabilityCalibrated":0.6038660468170615,"probabilityAltCalibrated":0.6013059282648627}}}}}}},"/api2/json/countryBatch":{"post":{"tags":["Personal"],"summary":"Infer the likely country of residence of up to 100 full names or last names.","operationId":"Country-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Marie Curie"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Marie Curie","score":16.010522304999995,"country":"FR","countryAlt":"BE","region":"Europe","topRegion":"Europe","subRegion":"Western Europe","countriesTop":["FR","BE"],"probabilityCalibrated":0.6038660443624172,"probabilityAltCalibrated":0.6013059169873552}]}}}}}}},"/api2/json/diaspora/{countryIso2}/{firstName}/{lastName}":{"get":{"tags":["Personal"],"summary":"Find out the likely ethnicity or diaspora of a first name and last name, according to the country of residence","operationId":"Diaspora","parameters":[{"name":"countryIso2","in":"path","required":true,"schema":"US","type":"String"},{"name":"firstName","in":"path","required":true,"schema":"Subrahmanyan","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Chandrasekhar","type":"String"}],"responses":{"200":{"description":"A diaspora / ethnicity for given name and geography.","content":{"application/json":{"schema":{"script":"LATIN","id":"06cea58d-a043-4c33-909d-e78f84a68d75","firstName":"Subrahmanyan","lastName":"Chandrasekhar","score":36.03940751773479,"ethnicityAlt":"Pakistanese","ethnicity":"Indian","lifted":false,"countryIso2":"US","ethnicitiesTop":["Indian","Pakistanese"]}}}}}}},"/api2/json/diasporaBatch":{"post":{"tags":["Personal"],"summary":"Infer the likely ethnicity or diaspora of up to 100 names, according to their country of residence","operationId":"Diaspora-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Subrahmanyan","lastName":"Chandrasekhar","countryIso2":"US"}]}}}},"responses":{"200":{"description":"A list of diaspora / ethnicity given a name and residency.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Subrahmanyan","lastName":"Chandrasekhar","score":36.039400468550376,"ethnicityAlt":"Pakistanese","ethnicity":"Indian","lifted":false,"countryIso2":"US","ethnicitiesTop":["Indian","Pakistanese"]}]}}}}}}},"/api2/json/gender/{firstName}/{lastName}":{"get":{"tags":["Personal"],"summary":"Find the likely gender of a first name and last name structure.","operationId":"Gender","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Rosalind","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Franklin","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"86767222-94ba-4ee4-8ade-6755228c77ca","firstName":"Rosalind","lastName":"Franklin","likelyGender":"female","genderScale":0.9730217066962004,"score":21.904701285428477,"probabilityCalibrated":0.9865108533481002}}}}}}},"/api2/json/genderBatch":{"post":{"tags":["Personal"],"summary":"Find the likely gender of up to 100 names.","operationId":"Gender-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Rosalind","lastName":"Franklin"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Rosalind","lastName":"Franklin","likelyGender":"female","genderScale":0.9730217066962004,"score":21.904701285428477,"probabilityCalibrated":0.9865108533481002}]}}}}}}},"/api2/json/genderChineseName/{chineseName}":{"get":{"tags":["Chinese"],"summary":"Determine the gender of a Chinese full name, written in Mandarin","operationId":"Gender-Chinese-Name","parameters":[{"name":"chineseName","in":"path","required":true,"schema":"谢晓亮","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"HAN","id":"46661b4d-32cf-4ca5-b598-f62a8d7e0667","name":"谢晓亮","likelyGender":"male","genderScale":-0.7130895869378251,"score":8.286118331853034,"probabilityCalibrated":0.8565447934689125}}}}}}},"/api2/json/genderChineseNameBatch":{"post":{"tags":["Chinese"],"summary":"Infer the likely gender of up to 100 Chinese full names, written in Mandarin","operationId":"Gender-Chinese-Name-Batch","requestBody":{"description":"A list of personal names, with a country ISO2 code","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"谢晓亮"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"谢晓亮","likelyGender":"male","genderScale":-0.7130895869378251,"score":8.286118331853034,"probabilityCalibrated":0.8565447934689125}]}}}}}}},"/api2/json/genderChineseNamePinyin/{chineseSurnameLatin}/{chineseGivenNameLatin}":{"get":{"tags":["Chinese"],"summary":"Find the likely gender of a romanized Chinese first name and last name","operationId":"Gender-Chinese-Name-Pinyin","parameters":[{"name":"chineseSurnameLatin","in":"path","required":true,"schema":"Qīngyún","type":"String"},{"name":"chineseGivenNameLatin","in":"path","required":true,"schema":"Dèng","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"9c1fda7c-54f1-48d1-b082-80cc6148aeb9","firstName":"Dèng","lastName":"Qīngyún","likelyGender":"male","genderScale":-0.014201270075495653,"score":1.8597729950048343,"probabilityCalibrated":0.5071006350377478}}}}}}},"/api2/json/genderChineseNamePinyinBatch":{"post":{"tags":["Chinese"],"summary":"Find out the likely gender of up to 100 Chinese first and last names, written in Pinyin.","operationId":"Gender-Chinese-Name-Pinyin-Batch","requestBody":{"description":"A list of names, with country code.","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Dèng","lastName":"Qīngyún"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Dèng","lastName":"Qīngyún","likelyGender":"male","genderScale":-0.3132515162951226,"score":6.747266465582973,"probabilityCalibrated":0.6566257581475613}]}}}}}}},"/api2/json/genderFull/{fullName}":{"get":{"tags":["Personal"],"summary":"Find the likely gender of a full name","operationId":"Gender-Full","parameters":[{"name":"fullName","in":"path","required":true,"schema":"Alan Turing","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"ad176dc1-0a45-41f6-aa3a-5bdd6246b453","name":"Alan Turing","likelyGender":"male","genderScale":-0.9831427708411884,"score":19.119365238807685,"probabilityCalibrated":0.9915713854205942}}}}}}},"/api2/json/genderFullBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely gender of up to 100 full names.","operationId":"Gender-Full-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Alan Turing"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Alan Turing","likelyGender":"male","genderScale":-0.9831427708411884,"score":19.119365238807685,"probabilityCalibrated":0.9915713854205942}]}}}}}}},"/api2/json/genderFullGeo/{fullName}/{countryIso2}":{"get":{"tags":["Personal"],"summary":"Infer the likely gender of a full name, according to a local context.","operationId":"Gender-Full-Geo","parameters":[{"name":"fullName","in":"path","required":true,"schema":"Maryam Mirzakhani","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"IR","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"b8737595-afe6-4217-a80e-d1b863de2704","name":"Maryam Mirzakhani","likelyGender":"female","genderScale":0.7336489993843776,"score":8.702861844637805,"probabilityCalibrated":0.8668244996921888}}}}}}},"/api2/json/genderFullGeoBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely gender of up to 100 full names, according to their local context.","operationId":"Gender-Full-Geo-Batch","requestBody":{"description":"A list of personal names, with a country ISO2 code","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Maryam Mirzakhani","countryIso2":"IR"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Maryam Mirzakhani","likelyGender":"female","genderScale":0.7336489993843776,"score":8.702861844637805,"probabilityCalibrated":0.8668244996921888}]}}}}}}},"/api2/json/genderGeo/{firstName}/{lastName}/{countryIso2}":{"get":{"tags":["Personal"],"summary":"Find the likely gender of a first and last name structure, according to its local context.","operationId":"Gender-Geo","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Sofia","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Kovalevskaya","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"RU","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"1524c414-ee6a-4a07-8056-b8dfe483850d","firstName":"Sofia","lastName":"Kovalevskaya","likelyGender":"female","genderScale":0.9938175581348969,"score":39.01304923594625,"probabilityCalibrated":0.9969087790674485}}}}}}},"/api2/json/genderGeoBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely gender of up to 100 names, according to their local context.","operationId":"Gender-Geo-Batch","requestBody":{"description":"A list of names, with country code.","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Sofia","lastName":"Kovalevskaya","countryIso2":"RU"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Sofia","lastName":"Kovalevskaya","likelyGender":"female","genderScale":0.9938175581348969,"score":39.01304923594625,"probabilityCalibrated":0.9969087790674485}]}}}}}}},"/api2/json/genderJapaneseNameFull/{japaneseName}":{"get":{"tags":["Japanese"],"summary":"Find the likely gender of a Japanese full name, written in Kanji.","operationId":"Gender-Japanese-Name-Full","parameters":[{"name":"japaneseName","in":"path","required":true,"schema":"中松 義郎","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"HAN","id":"36990426-d289-43b3-99dc-50ccfe2e5ade","name":"中松 義郎","likelyGender":"male","genderScale":-0.22231473979961303,"score":3.72410721464353,"probabilityCalibrated":0.6111573698998065}}}}}}},"/api2/json/genderJapaneseNameFullBatch":{"post":{"tags":["Japanese"],"summary":"Find the likely gender of up to 100 Japanese full names, written in Kanji.","operationId":"Gender-Japanese-Name-Full-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"中松 義郎"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"中松 義郎","likelyGender":"male","genderScale":-0.22231473979961303,"score":3.72410721464353,"probabilityCalibrated":0.6111573698998065}]}}}}}}},"/api2/json/genderJapaneseName/{japaneseSurname}/{japaneseGivenName}":{"get":{"tags":["Japanese"],"summary":"Discover the likely gender of a Japanese first name and last name written in Latin alphabet.","operationId":"Gender-Japanese-Name-Pinyin","parameters":[{"name":"japaneseSurname","in":"path","required":true,"schema":"Nakamoto","type":"String"},{"name":"japaneseGivenName","in":"path","required":true,"schema":"Satoshi","type":"String"}],"responses":{"200":{"description":"A genderized name.","content":{"application/json":{"schema":{"script":"LATIN","id":"9cfd8321-0924-4570-a4b7-29a611ce5089","firstName":"Satoshi","lastName":"Nakamoto","likelyGender":"male","genderScale":-0.9828731991489774,"score":24.94061932678776,"probabilityCalibrated":0.9914365995744887}}}}}}},"/api2/json/genderJapaneseNameBatch":{"post":{"tags":["Japanese"],"summary":"Discover the likely gender of a up to 100 Japanese first and last names written in Latin alphabet.","operationId":"Gender-Japanese-Name-Pinyin-Batch","requestBody":{"description":"A list of names, with country code.","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Satoshi","lastName":"Nakamoto"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Satoshi","lastName":"Nakamoto","likelyGender":"male","genderScale":-0.9828731991489774,"score":24.94061932678776,"probabilityCalibrated":0.9914365995744887}]}}}}}}},"/api2/json/japaneseNameGenderKanjiCandidatesBatch":{"post":{"tags":["Japanese"],"summary":"Find the likely transcriptions to Kanji, for up to 100 Japanese romanized first and last names, according to a known gender.","operationId":"Japanese-Name-Gender-Kanji-Candidates-Batch","requestBody":{"description":"A list of personal japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname and known gender","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Takashi","lastName":"Murakami","gender":"male"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"namesAndMatchCandidates":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Takashi","lastName":"Murakami","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"村上 隆","probability":0.5000000000000001,"predScoreGivenName":-2.249242067337036,"predScoreFamilyName":-0.0006758159724995494},{"candidateName":"村上 崇","probability":0.25000000000000006,"predScoreGivenName":-2.572237014770508,"predScoreFamilyName":-0.0006758159724995494}]}]}}}}}}},"/api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}":{"get":{"tags":["Japanese"],"summary":"Find the likely transcriptions to Kanji, for a romanized Japanese first name and last name.","operationId":"Japanese-Name-Kanji-Candidates","parameters":[{"name":"japaneseSurnameLatin","in":"path","required":true,"schema":"Yamamoto","type":"String"},{"name":"japaneseGivenNameLatin","in":"path","required":true,"schema":"Sanae","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":"LATIN","id":null,"firstName":"Sanae","lastName":"Yamamoto","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"山本 早苗","probability":0.5000000000000001,"predScoreGivenName":-0.03954087197780609,"predScoreFamilyName":-0.014371121302247047},{"candidateName":"山本 沙苗","probability":0.25000000000000006,"predScoreGivenName":-5.180787086486816,"predScoreFamilyName":-0.014371121302247047}]}}}}}}},"/api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{knownGender}":{"get":{"tags":["Japanese"],"summary":"Find the likely transcriptions to Kanji, for a Japanese first name and last name, according to a known gender.","operationId":"Japanese-Name-Nogender-Kanji-Candidates","parameters":[{"name":"japaneseSurnameLatin","in":"path","required":true,"schema":"Yamamoto","type":"String"},{"name":"japaneseGivenNameLatin","in":"path","required":true,"schema":"Sanae","type":"String"},{"name":"knownGender","in":"path","required":true,"schema":"male","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":"LATIN","id":null,"firstName":"Sanae","lastName":"Yamamoto","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"山本 早苗","probability":0.5000000000000001,"predScoreGivenName":-0.031474947929382324,"predScoreFamilyName":-0.014371121302247047},{"candidateName":"山本 佐苗","probability":0.25000000000000006,"predScoreGivenName":-4.911670207977295,"predScoreFamilyName":-0.014371121302247047}]}}}}}}},"/api2/json/japaneseNameKanjiCandidatesBatch":{"post":{"tags":["Japanese"],"summary":"Find the likely transcriptions to Kanji, for up to 100 Japanese romanized first and last names.","operationId":"Japanese-Name-Kanji-Candidates-Batch","requestBody":{"description":"A list of personal japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Sanae","lastName":"Yamamoto"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"namesAndMatchCandidates":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Sanae","lastName":"Yamamoto","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"山本 早苗","probability":0.5000000000000001,"predScoreGivenName":-0.03954087197780609,"predScoreFamilyName":-0.014371121302247047},{"candidateName":"山本 沙苗","probability":0.25000000000000006,"predScoreGivenName":-5.180787086486816,"predScoreFamilyName":-0.014371121302247047}]}]}}}}}}},"/api2/json/japaneseNameLatinCandidates/{japaneseSurnameKanji}/{japaneseGivenNameKanji}":{"get":{"tags":["Japanese"],"summary":"Receive the most likely Latin transcriptions for a Japanese name written in Kanji characters.","operationId":"Japanese-Name-Latin-Candidates","parameters":[{"name":"japaneseSurnameKanji","in":"path","required":true,"schema":"千春","type":"String"},{"name":"japaneseGivenNameKanji","in":"path","required":true,"schema":"塩田","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":"HAN","id":null,"firstName":"塩田","lastName":"千春","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"chiharu shiota","probability":0.5000000149011616,"predScoreGivenName":-0.3543974459171295,"predScoreFamilyName":-0.004423846025019884},{"candidateName":"chiharu shioda","probability":0.2500000074505808,"predScoreGivenName":-1.2378724813461304,"predScoreFamilyName":-0.004423846025019884}]}}}}}}},"/api2/json/japaneseNameLatinCandidatesBatch":{"post":{"tags":["Japanese"],"summary":"Romanize up to 100 japanese names written in Kanji","operationId":"Japanese-Name-Latin-Candidates-Batch","requestBody":{"description":"A list of personal japanese names in KANJI, firstName = japaneseGivenName; lastName=japaneseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"塩田","lastName":"千春"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"namesAndMatchCandidates":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"塩田","lastName":"千春","orderOption":"OrderScoreSquareFNLN","matchCandidates":[{"candidateName":"chiharu shiota","probability":0.5000000149011616,"predScoreGivenName":-0.3543974459171295,"predScoreFamilyName":-0.004423846025019884},{"candidateName":"chiharu shioda","probability":0.2500000074505808,"predScoreGivenName":-1.2378724813461304,"predScoreFamilyName":-0.004423846025019884}]}]}}}}}}},"/api2/json/japaneseNameMatch/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}":{"get":{"tags":["Japanese"],"summary":"Receive a score for matching a romanized Japanese name with a Kanji transcription.","operationId":"Japanese-Name-Match","parameters":[{"name":"japaneseSurnameLatin","in":"path","required":true,"schema":"Tomioka","type":"String"},{"name":"japaneseGivenNameLatin","in":"path","required":true,"schema":"Tessai","type":"String"},{"name":"japaneseName","in":"path","required":true,"schema":"富岡 鉄斎","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"script":null,"id":null,"matchStatus":"Match","score":1.002224089213585}}}}}}},"/api2/json/japaneseNameMatchBatch":{"post":{"tags":["Japanese"],"summary":"Return a score for matching a list of Japanese names in KANJI ex. 山本 早苗 with romanized names ex. Yamamoto Sanae","operationId":"Japanese-Name-Match-Batch","requestBody":{"description":"A list of personal Japanese names in LATIN, firstName = japaneseGivenName; lastName=japaneseSurname","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c41","name1":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Tessai","lastName":"Tomioka"},"name2":{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c43","name":"富岡 鉄斎"}}]}}}},"responses":{"200":{"description":"A list of matched names.","content":{"application/json":{"schema":{"matchedNames":[{"script":null,"id":null,"matchStatus":"Match","score":1.002224089213585}]}}}}}}},"/api2/json/japaneseNameMatchFeedbackLoop/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}":{"get":{"tags":["Japanese"],"summary":"Suggest a transcription of a Japanese name between Kanji characters and Latin alphabet to help us improve our name matching tool.","operationId":"Japanese-Name-Match-Feedback-Loop","parameters":[{"name":"japaneseSurnameLatin","in":"path","required":true,"schema":"Tomioka","type":"String"},{"name":"japaneseGivenNameLatin","in":"path","required":true,"schema":"Tessai","type":"String"},{"name":"japaneseName","in":"path","required":true,"schema":"富岡 鉄斎","type":"String"}],"responses":{"200":{"description":"A romanized name.","content":{"application/json":{"schema":{"feedbackCredits":1}}}}}}},"/api2/json/learnable/{source}/{learnable}":{"get":{"tags":["Admin"],"summary":"Activate/deactivate learning from a source.","operationId":"Learnable","parameters":[{"name":"source","in":"path","description":"The API Key to set as learnable/non learnable.","required":true,"schema":"77afd518a85798fa3723f5ec8120adb7","type":"String"},{"name":"learnable","in":"path","required":true,"schema":true,"type":"Boolean"}],"responses":{"200":{"description":"Vetting of a source."}}}},"/api2/json/nameType/{properNoun}":{"get":{"tags":["General"],"summary":"Detect if a proper noun is a personal name or a public name","operationId":"Name-Type","parameters":[{"name":"properNoun","in":"path","required":true,"schema":"Zippo","type":"String"}],"responses":{"200":{"description":"A typed name.","content":{"application/json":{"schema":{"script":"LATIN","id":"a88b1bf1-56f1-40d3-84db-4daf57121b1d","name":"Zippo","commonType":"brand-name","commonTypeAlt":"toponym","score":7.717552234146745}}}}}}},"/api2/json/nameTypeBatch":{"post":{"tags":["General"],"summary":"Detect if proper nouns are personal names or public names (ex: John Smith : personal name, Namsor: brand name). You can inspect up to a 100 names","operationId":"Name-Type-Batch","requestBody":{"description":"A list of proper names","content":{"application/json":{"schema":{"properNouns":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Zippo"}]}}}},"responses":{"200":{"description":"A list of commonTypeized names.","content":{"application/json":{"schema":{"properNouns":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Zippo","commonType":"brand-name","commonTypeAlt":"toponym","score":7.717552576402805}]}}}}}}},"/api2/json/nameTypeGeo/{properNoun}/{countryIso2}":{"get":{"tags":["General"],"summary":"Detect if a proper noun is a personal name or a public name, according to its local context (ex: John Smith : personal name, Namsor: brand name)","operationId":"Name-Type-Geo","parameters":[{"name":"properNoun","in":"path","required":true,"schema":"Edi Gathegi","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"KE","type":"String"}],"responses":{"200":{"description":"A typed name.","content":{"application/json":{"schema":{"script":"LATIN","id":"a941ea3f-3b3c-4ff1-af28-c01b086b7d79","name":"Edi Gathegi","commonType":"anthroponym","commonTypeAlt":"brand-name","score":18.5790039224226}}}}}}},"/api2/json/nameTypeGeoBatch":{"post":{"tags":["General"],"summary":"Detect if proper nouns are personal names or a public names, according to their local context (ex: John Smith : personal name, Namsor: brand name). You can inspect up to 100 names.","operationId":"Name-Type-Geo-Batch","requestBody":{"description":"A list of proper names","content":{"application/json":{"schema":{"properNouns":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Edi Gathegi","countryIso2":"KE"}]}}}},"responses":{"200":{"description":"A list of commonTypeized names.","content":{"application/json":{"schema":{"properNouns":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Edi Gathegi","commonType":"anthroponym","commonTypeAlt":"brand-name","score":18.579081911201673}]}}}}}}},"/api2/json/origin/{firstName}/{lastName}":{"get":{"tags":["Personal"],"summary":"Detect the likely country of origin of a first name and last name structure. For countries like U.S.A, Canada, Australia or New-Zealand and other melting-pots, refer to 'diaspora'.","operationId":"Origin","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Zanele","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Muholi","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"LATIN","id":"859e5b4b-1243-4d5a-902d-ac4d46712ce7","firstName":"Zanele ","lastName":"Muholi","countryOrigin":"ZA","countryOriginAlt":"LS","countriesOriginTop":["ZA","LS"],"score":14.109780317889099,"regionOrigin":"Africa","topRegionOrigin":"Africa","subRegionOrigin":"Southern Africa","probabilityCalibrated":0.7807734140287722,"probabilityAltCalibrated":0.8559822284821633}}}}}}},"/api2/json/originBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely country of origin of up to 100 first and last names.","operationId":"Origin-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Zanele","lastName":"Muholi"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Zanele","lastName":"Muholi","countryOrigin":"ZA","countryOriginAlt":"LS","countriesOriginTop":["ZA","LS"],"score":14.109780317889099,"regionOrigin":"Africa","topRegionOrigin":"Africa","subRegionOrigin":"Southern Africa","probabilityCalibrated":0.7807734140304999,"probabilityAltCalibrated":0.8559822288694453}]}}}}}}},"/api2/json/parseChineseName/{chineseName}":{"get":{"tags":["Chinese"],"summary":"Determine the likely first and last name structure of a Chinese name, written in Mandarin","operationId":"Parse-Chinese-Name","parameters":[{"name":"chineseName","in":"path","required":true,"schema":"赵丽颖","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"丽颖","lastName":"赵"},"score":4.64102036931541}}}}}}},"/api2/json/parseChineseNameBatch":{"post":{"tags":["Chinese"],"summary":"Detect the likely first and last name structure of up to 100 a Chinese names, written in Mandarin, ex. 王晓明 -> 王(lastname) 晓明(first name).","operationId":"Parse-Chinese-Name-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖"}]}}}},"responses":{"200":{"description":"A list of parsed names.","content":{"application/json":{"schema":{"personalNames":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"丽颖","lastName":"赵"},"score":4.64102036931541}]}}}}}}},"/api2/json/parseJapaneseName/{japaneseName}":{"get":{"tags":["Japanese"],"summary":"Split a Japanese full name, in Kanji or Latin writing, into a first name and last name structure","operationId":"Parse-Japanese-Name","parameters":[{"name":"japaneseName","in":"path","required":true,"schema":"小島 秀夫","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"HAN","id":"4646501e-33e3-44bc-be6f-66cab4bb5e94","name":"小島 秀夫","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"秀夫","lastName":"小島"},"score":100}}}}}}},"/api2/json/parseJapaneseNameBatch":{"post":{"tags":["Japanese"],"summary":"Split up to 100 Japanese full names, in Kanji or Latin writing, into first name and last name structures","operationId":"Parse-Japanese-Name-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"小島 秀夫"}]}}}},"responses":{"200":{"description":"A list of parsed names.","content":{"application/json":{"schema":{"personalNames":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"小島 秀夫","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"秀夫","lastName":"小島"},"score":100}]}}}}}}},"/api2/json/parseName/{nameFull}":{"get":{"tags":["Personal"],"summary":"Split a full name into a likely first and last name structure. ","operationId":"Parse-Name","parameters":[{"name":"nameFull","in":"path","required":true,"schema":"John Smith","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"LATIN","id":"3fb36d3d-f9cd-4ccc-a348-38d9e5b5232d","name":"John Smith","nameParserType":"FN1LN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"John","lastName":"Smith"},"score":23.313692197779005}}}}}}},"/api2/json/parseNameBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely first and last name structure of up to 100 full names.","operationId":"Parse-Name-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"John Smith"}]}}}},"responses":{"200":{"description":"A list of parsed names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"John Smith","nameParserType":"FN1LN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"John","lastName":"Smith"},"score":23.31368511252333}]}}}}}}},"/api2/json/parseName/{nameFull}/{countryIso2}":{"get":{"tags":["Personal"],"summary":"Split a full name into a likely first and last name structure. For better accuracy, provide a local context.","operationId":"Parse-Name-Geo","parameters":[{"name":"nameFull","in":"path","required":true,"schema":"Ricardo Darín","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"AR","type":"String"}],"responses":{"200":{"description":"A origined name.","content":{"application/json":{"schema":{"script":"LATIN","id":"dbe186ee-cfd6-48e0-a449-00c70df61ec3","name":"Ricardo Darín","nameParserType":"FN1LN1","nameParserTypeAlt":"FN1LN2","firstLastName":{"script":null,"id":null,"firstName":"Ricardo","lastName":"Darín"},"score":3.4476222927492017}}}}}}},"/api2/json/parseNameGeoBatch":{"post":{"tags":["Personal"],"summary":"Detect the likely first and last name structure of up to 100 full names. For better accuracy, provide a local context.","operationId":"Parse-Name-Geo-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Ricardo Darín","countryIso2":"AR"}]}}}},"responses":{"200":{"description":"A list of parsed names.","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"Ricardo Darín","nameParserType":"FN1LN1","nameParserTypeAlt":"FN1LN2","firstLastName":{"script":null,"id":null,"firstName":"Ricardo","lastName":"Darín"},"score":3.447624982163207}]}}}}}}},"/api2/json/phoneCode/{firstName}/{lastName}/{phoneNumber}":{"get":{"tags":["Social"],"summary":"Identify the likely country and phone prefix of a name and phone number.","operationId":"Phone-Code","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Jamini","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Roy","type":"String"},{"name":"phoneNumber","in":"path","required":true,"schema":"09804201420","type":"String"}],"responses":{"200":{"description":"A name with country and phone code.","content":{"application/json":{"schema":{"script":"LATIN","id":null,"firstName":"Jamini","lastName":"Roy","internationalPhoneNumberVerified":"+91 98042 01420","phoneCountryIso2Verified":"IN","phoneCountryCode":91,"phoneCountryCodeAlt":98,"phoneCountryIso2":"IN","phoneCountryIso2Alt":"IR","originCountryIso2":"BD","originCountryIso2Alt":"ID","phoneNumber":"09804201420","verified":true,"score":7.659341221254624}}}}}}},"/api2/json/phoneCodeBatch":{"post":{"tags":["Social"],"summary":"Identify the likely country and phone prefix of up to 100 names and phone numbers (formatted or unformatted)","operationId":"Phone-Code-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNamesWithPhoneNumbers":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Jamini","lastName":"Roy","phoneNumber":"09804201420"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNamesWithPhoneNumbers":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Jamini","lastName":"Roy","internationalPhoneNumberVerified":"+91 98042 01420","phoneCountryIso2Verified":"IN","phoneCountryCode":91,"phoneCountryCodeAlt":98,"phoneCountryIso2":"IN","phoneCountryIso2Alt":"IR","originCountryIso2":"BD","originCountryIso2Alt":"ID","phoneNumber":"09804201420","verified":true,"score":7.659341221254494}]}}}}}}},"/api2/json/phoneCodeGeo/{firstName}/{lastName}/{phoneNumber}/{countryIso2}":{"get":{"tags":["Social"],"summary":"Identify the likely phone prefix of a name and phone number (formatted or unformatted) according to local context.","operationId":"Phone-Code-Geo","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Teniola","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Apata","type":"String"},{"name":"phoneNumber","in":"path","required":true,"schema":"08186472651","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"NG","type":"String"}],"responses":{"200":{"description":"A name with country and phone code.","content":{"application/json":{"schema":{"script":"LATIN","id":null,"firstName":"Teniola","lastName":"Apata","internationalPhoneNumberVerified":"+234 818 647 2651","phoneCountryIso2Verified":"NG","phoneCountryCode":234,"phoneCountryCodeAlt":62,"phoneCountryIso2":"NG","phoneCountryIso2Alt":"ID","originCountryIso2":"NG","originCountryIso2Alt":"CI","phoneNumber":"08186472651","verified":true,"score":2.362918055640346}}}}}}},"/api2/json/phoneCodeGeoBatch":{"post":{"tags":["Social"],"summary":"Identify the likely phone prefix of up to 100 names and phone numbers (formatted or unformatted) according to local context.","operationId":"Phone-Code-Geo-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNamesWithPhoneNumbers":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Teniola","lastName":"Apata","phoneNumber":"08186472651","countryIso2":"NG"}]}}}},"responses":{"200":{"description":"A list of genderized names.","content":{"application/json":{"schema":{"personalNamesWithPhoneNumbers":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Teniola","lastName":"Apata","internationalPhoneNumberVerified":"+234 818 647 2651","phoneCountryIso2Verified":"NG","phoneCountryCode":234,"phoneCountryCodeAlt":62,"phoneCountryIso2":"NG","phoneCountryIso2Alt":"ID","originCountryIso2":"NG","originCountryIso2Alt":"CI","phoneNumber":"08186472651","verified":true,"score":2.362918055640346}]}}}}}}},"/api2/json/phoneCodeGeoFeedbackLoop/{firstName}/{lastName}/{phoneNumber}/{phoneNumberE164}/{countryIso2}":{"get":{"tags":["Social"],"summary":"Suggest a phone prefix, according to a name, phone number (formatted or unformatted) and local context, to help us improve our technology.","operationId":"Phone-Code-Geo-Feedback-Loop","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Diego","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Rivera","type":"String"},{"name":"phoneNumber","in":"path","required":true,"schema":"14448140442","type":"String"},{"name":"phoneNumberE164","in":"path","required":true,"schema":"+524448140442","type":"String"},{"name":"countryIso2","in":"path","required":true,"schema":"MX","type":"String"}],"responses":{"200":{"description":"A name with country and phone code.","content":{"application/json":{"schema":{"feedbackCredits":1}}}}}}},"/api2/json/pinyinChineseName/{chineseName}":{"get":{"tags":["Chinese"],"summary":"Romanize a Chinese name to Pinyin.","operationId":"Pinyin-Chinese-Name","parameters":[{"name":"chineseName","in":"path","required":true,"schema":"赵丽颖","type":"String"}],"responses":{"200":{"description":"A pinyin name.","content":{"application/json":{"schema":{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"LiYing","lastName":"Zhao"},"score":4.641021485371256}}}}}}},"/api2/json/pinyinChineseNameBatch":{"post":{"tags":["Chinese"],"summary":"Romanize a list of up to 100 Chinese names to Pinyin.","operationId":"Pinyin-Chinese-Name-Batch","requestBody":{"description":"A list of Chinese names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖"}]}}}},"responses":{"200":{"description":"A list of Pinyin names.","content":{"application/json":{"schema":{"personalNames":[{"script":"HAN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","name":"赵丽颖","nameParserType":"LN1FN1","nameParserTypeAlt":null,"firstLastName":{"script":null,"id":null,"firstName":"LiYing","lastName":"Zhao"},"score":4.641021485371256}]}}}}}}},"/api2/json/softwareVersion":{"get":{"tags":["Admin"],"summary":"Get the current version of the Namsor software","operationId":"Software-Version","responses":{"200":{"description":"The current software version","content":{"application/json":{"schema":{"softwareNameAndVersion":"NamSorAPIv2.0.14B01","softwareVersion":[2,0,14]}}}}}}},"/api2/json/taxonomyClasses/{classifierName}":{"get":{"tags":["Admin"],"summary":"Receive a list of the valid taxonomy classes for a given classifier.","operationId":"Taxonomy-Classes","parameters":[{"name":"classifierName","in":"path","description":"Name of the classifier as per apiStatus (corresponds also to the name of the service in apiServices)","required":true,"schema":"personalname_gender","type":"String"}],"responses":{"200":{"description":"Available plans","content":{"application/json":{"schema":{"classifierName":"personalname_gender","taxonomyClasses":["female","male"]}}}}}}},"/api2/json/usRaceEthnicity/{firstName}/{lastName}":{"get":{"tags":["Personal"],"summary":"Determine the most likely U.S. race or ethnicity of a U.S. resident's first and last name","operationId":"US-Race-and-Ethnicity","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Keith","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Haring","type":"String"}],"responses":{"200":{"description":"a US resident's likely race/ethnicity : W_NL (white, non latino), HL (hispano latino),  A (asian, non latino), B_NL (black, non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*). *optionally","content":{"application/json":{"schema":{"script":"LATIN","id":"3f1efb7d-5141-4ebf-8373-17c4068d22e4","firstName":"Keith","lastName":"Haring","raceEthnicityAlt":"B_NL","raceEthnicity":"W_NL","score":14.124697493222158,"raceEthnicitiesTop":["W_NL","B_NL","A","HL"],"probabilityCalibrated":0.8284804986473213,"probabilityAltCalibrated":0.8890718404096647}}}}}}},"/api2/json/usRaceEthnicityBatch":{"post":{"tags":["Personal"],"summary":"Detect the most likely U.S. race or ethnicity of a up to 100 U.S. residents' first and last names.","operationId":"US-Race-and-Ethnicity-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Keith","lastName":"Haring","countryIso2":"US"}]}}}},"responses":{"200":{"description":"A list of US resident's likely race/ethnicity. W_NL (white, non latino), HL (hispano latino),  A (asian, non latino), B_NL (black, non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*). *optionally","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Keith","lastName":"Haring","raceEthnicityAlt":"B_NL","raceEthnicity":"W_NL","score":14.124697493222158,"raceEthnicitiesTop":["W_NL","B_NL","A","HL"],"probabilityCalibrated":0.8284804986473213,"probabilityAltCalibrated":0.8890718404096647}]}}}}}}},"/api2/json/usRaceEthnicityZIP5/{firstName}/{lastName}/{zip5Code}":{"get":{"tags":["Personal"],"summary":"Determine the most likely U.S. race or ethnicity of a U.S. resident's first and last name, using their ZIP code","operationId":"US-ZIP-Race-and-Ethnicity","parameters":[{"name":"firstName","in":"path","required":true,"schema":"Makoto","type":"String"},{"name":"lastName","in":"path","required":true,"schema":"Iwamatsu","type":"String"},{"name":"zip5Code","in":"path","required":true,"schema":"10019","type":"String"}],"responses":{"200":{"description":"a US resident's likely race/ethnicity : W_NL (white, non latino), HL (hispano latino),  A (asian, non latino), B_NL (black, non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*). *optionally","content":{"application/json":{"schema":{"script":"LATIN","id":"d2e92047-c3ce-4363-bf3c-a54757d372b2","firstName":"Makoto","lastName":"Iwamatsu","raceEthnicityAlt":"HL","raceEthnicity":"A","score":32.90567784847702,"raceEthnicitiesTop":["A","HL","B_NL","W_NL"],"probabilityCalibrated":0.9376434608736617,"probabilityAltCalibrated":0.9817007157185398}}}}}}},"/api2/json/usZipRaceEthnicityBatch":{"post":{"tags":["Personal"],"summary":"Determine the most likely U.S. race or ethnicity of up to 100 U.S. residents' first and last names, using their ZIP code.","operationId":"US-ZIP-Race-and-Ethnicity-Batch","requestBody":{"description":"A list of personal names","content":{"application/json":{"schema":{"personalNames":[{"id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Makoto","lastName":"Iwamatsu","countryIso2":"JP","zipCode":"10019"}]}}}},"responses":{"200":{"description":"A list of US resident's likely race/ethnicity. W_NL (white, non latino), HL (hispano latino),  A (asian, non latino), B_NL (black, non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*). *optionally","content":{"application/json":{"schema":{"personalNames":[{"script":"LATIN","id":"e630dda5-13b3-42c5-8f1d-648aa8a21c42","firstName":"Makoto","lastName":"Iwamatsu","raceEthnicityAlt":"HL","raceEthnicity":"A","score":33.10409827435145,"raceEthnicitiesTop":["A","HL","B_NL","W_NL"],"probabilityCalibrated":0.943439227727173,"probabilityAltCalibrated":0.9817007157185398}]}}}}}}}}}